<h3 class="centered" *ngIf="deleted">The Photo was successfully deleted, you will be redirected to photos...</h3>
<div class="photo-wrapper" *ngIf="!deleted && (photo$ | async) as photo; else loading">
  <div matLine>
    <h3 *ngIf="!editTitle; else editTitleInput">{{photo.title}}</h3>
    <ng-template #editTitleInput>
      <mat-form-field>
        <input matInput type="text" required [(ngModel)]="photo && photo.title" placeholder="Enter Title" autocomplete="off"
          #newTitle>
      </mat-form-field>
    </ng-template>
    <mat-icon aria-label="Edit Title" color="warn" *ngIf="!editTitle; else saveChangesBtn" (click)="changeTitle()">edit</mat-icon>
    <ng-template #saveChangesBtn>
      <button mat-button (click)="saveChanges(photo)" [disabled]="!photo.title">
        <mat-icon color="primary">save</mat-icon>
      </button>
    </ng-template>
  </div>
  <div matLine>
    <img [src]="photo.url" alt="Invalid photo url">
  </div>
  <div matLine>
    <button matLine mat-raised-button color="warn" (click)="deletePhoto(photo)">
      <mat-icon>delete</mat-icon>Delete Photo
    </button>
  </div>
</div>
<ng-template #loading>
  <mat-progress-spinner class="spinner" [color]="!deleting ? 'primary' : 'warn'" mode="indeterminate"></mat-progress-spinner>
</ng-template>